.landing-page {
  padding: 20px;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.history-button,
.add-button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.add-button {
  background-color: #28a745;
}

.history-button:hover,
.add-button:hover {
  background-color: #0056b3;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th,
.product-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.product-table th {
  background-color: #f2f2f2;
}

.low-quantity {
  color: red;
  font-weight: bold;
}

.edit-button {
  background-color: #28a745;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
}

.manage-quantity-button {
  background-color: #2a28a7;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 4px;
}

.edit-button:hover {
  background-color: #218838;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  margin: 0 10px;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
